/*MENU DE NAVEGACION*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    
    background-image: url('Fondo.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "PT Sans", sans-serif;
    
  }
  
  header {
    width: 100%;
    height: 100vh;
    background-image: url('Fondo.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
  }
  
  .nav {
    width: 100%;
    background-image: url('fondonav.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    transition: all 0.5s ease;
  }
  
  .logo {
    font-size: 35px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    display: flex;
    align-items: center;
  }
  
  .logo img {
    width: 80px;
    margin-right: 10px;
  }
  
  .menu {
    display: flex;
  }
  
  .menu li {
    list-style: none;
    margin: 10px;
  }
  
  .menu li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px; 
    font-weight: bold;
    transition: all 0.5s ease;
  }
  
  .menu li a:hover {
    padding: 15px 20px;
    background-color: #fcd320;
    color: black;
    border-radius: 15px;
  }
  
  header {
    padding-top: 60px;
  }
  
  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin-top: 20px;
  }
  
  /*POSICIONES DE LAS IMAGENES PRINCIPALES DE LA PAGINA*/
  .image-container {
    display: flex;
    justify-content: center;
    margin-top: 320px;
    margin-bottom: 100px;
  }
  
  .image-container img {
    margin: -10px;
  }
  
  /*TEXTO QUE VA DESPUES DE LAS IMAGENES*/
  .banner-text {
    text-align: center;
    margin-top: 10px;
  }
  
  .banner-text h1 {
    font-size: 50px;
  }
  
  .banner-text h2.subtext {
    margin-top: 20px;
  }
  
  /*POSICION DE LA IMAGEN DE DESCARGA*/
  
  .imagenesdespuesdetexto {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
  }
  
  .imagenesdespuesdetexto img {
    width: 400px;
  }
  
  /*POSICION DE LA APP STORE Y PLAY STORE*/
  
  .tiendas {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }
  
  .tiendas a{
    margin: 0 20px;
  }
  
  .texto2 {
    margin-top: 60px;
    display: flex;
    justify-content: center;
  }
  
  
  .contenido {
    display: flex;
    align-items: center;
  }
  
  .texto {
    margin-right: 40px;
    text-align: left;
    margin-left: 100px;
  }
  
  
  .texto .titulo {
    font-size: 50px; /*tamaño del titulo Pamper Ur Pet*/
    margin-top: 300px; /*ajustar el texto con la imgagen de la derecha*/
    margin-bottom: 50px;
    font-weight: bold;
  }
  
  .texto p {
    font-size: 20px; /* Ajusta el tamaño del texto según sea necesario */
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .titulo {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 70px;
    margin-top: 250px;
    margin-bottom: 80px;
    text-align: center;
  }
  
  .titulo span {
    line-height: 1;
  }
  
  
  .imagen {
    text-align: right;
    margin-right: 180px; /* Ajusta el espacio entre la imagen y el borde derecho */
    margin-top: 300px; 
  }
  
  .imagen img {
    width: 600px; /* Ajusta el tamaño de la imagen según sea necesario */
  }
  
  /*DISEÑO DE BOTON "SABER MAS"*/
  
  .btn {
    background-color: #5a2d94; /* Color de fondo para el botón de éxito */
    box-shadow: 0 12px 25px 8px rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    margin: 10px auto; /* Alinea el botón al centro horizontalmente */
    margin-left: 200px; /* Agrega un margen a la izquierda */
    cursor: pointer;
    border-radius: 20px; /* Bordes más circulares */
    
  }
  
  
  /*DISEÑO DE LA PESTAÑA 3*/
  #__segunda {
    background-color: #ecd974;
    padding: 10vh 20vh;
    border-radius: 7vh;
    width: 38%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 0 12px 25px 8px rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    margin-left: 50px;
  }
  
  
  #__segunda2 {
    
    background-color:#ecd974;
      padding:10vh 20vh;
      border-radius:7vh;
      width:41%;
      display:flex;
      flex-direction:column;
      justify-content: center;
      box-shadow: 0 12px 25px 8px rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
    margin-left: 50px;
  }
  
  .texto4 {
    margin-right: 40px;
    text-align: left;
    margin-left: 100px;
  }
  
  
  .texto4 {
    display: flex;
    align-items: center;
  }
  
  .texto4 .titulostartup {
    font-size: 50px;
    margin-bottom: 50px;
    font-weight: bold;
  }
  
  .texto4 #p2 {
    font-size: 21px;
    margin-bottom: 10px;
    font-weight: normal;
      background-color:#ecd974;
      padding:15vh 4vh;
      border-radius:4vh;
  }
  
  .imagencontenido-container {
    margin-left: 50px;
    margin-top: 400px;
  
  }
  
  .imagencontenido-container img {
    width: 630px;
  }
  
  .titulostartup {
    display: flex;
    flex-direction: column;
    align-items: left;
    font-size: 70px;
    margin-top: 250px;
    margin-bottom: 80px;
    text-align: left;
  }
  
  
  .texto5 {
    text-align: center;
    margin-top: 150px;
  }
  
  .banner-texto5 {
    text-align: left;
    margin-bottom: 20px;
  }
  
  .banner-texto5 h1 {
    font-size: 40px;
  }
  
  .imagenes-container5 {
    display: flex;
    justify-content: center;
    margin-top: 50px;
  }
  
  .contenedor-imagenes {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }
  
  .gif-container {
    margin-right: 20px;
  }
  
  .gif-container img {
    width: 430px;
  }
  
  .contenido-precios {
    display: flex;
    align-items: flex-start;
  }
  
  .contenido-precios img {
    width: 800px;
    margin-right: 20px;
  }
  
  .titulo-beneficios {
    text-align: center;
    margin-top: 30px;
  }
  
  .titulo-beneficios h3 {
    font-size: 30px;
    margin-top: 10px;
  }
  
  .texto5 ul {
    float: center;
    margin-right: 20px;
    display: block;
    list-style: disc;
    margin-left: 50px;
  }
  
  .titulo-beneficios ul {
    text-align: center;
    list-style-position: inside;
  }
  
  .texto5 li {
    margin-bottom: 10px;
  }
  
  /*PESTAÑA 6*/
  .texto6 {
    text-align: center;
    margin-top: 150px;
  }
  
  .banner-texto6 {
    text-align: left;
    margin-bottom: 20px;
  }
  
  .banner-texto6 h1 {
    font-size: 40px;
    margin: 0;
    white-space: nowrap;
  }
  
  .banner-texto6 span {
    display: inline-block;
    margin-left: 10px;
  }
  
  /*FORMULARIO DE CONTACTANOS*/
  
  .form-container {
    float: right;
    width: 70%;
    padding: 5%;
    margin-top: -480px;
    height: 80vh;
  }
  
  .form-group {
    margin-bottom: 40px;
    display: flex;
  }
  
  .form-group input[type="text"],
  .form-group textarea {
    width: 100%;
    padding: 15px;
    border-radius: 18px;
    background-color: #faf9af;
    box-shadow: 0 12px 25px 8px rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    font-size: 18px; 
    font-weight: bold;
  }
  
  .form-group input[type="text"]::placeholder,
  .form-group textarea::placeholder {
    color: rgba(0, 0, 0, 0.4);
    font-weight: bold;
  }
  
  /*BOTON*/
  
  .submit-button {
    margin-top: 10px;
    text-align: right;
  }
  
  .submit-button button {
    display: block;
    margin: 0 auto;
    width: 150px;
    padding: 10px;
    border-radius: 20px;
    background-color: #5a2d94; 
    box-shadow: 0 12px 25px 8px rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
    color:white;
    cursor: pointer;
    font-size: 20px;
  
  }
  
  /* CONTACTANOS-FORMULARIO */
  #__sexto {
    background-color: #ecd974;
    padding: 5vh 5vh;
    border-radius: 7vh;
    width: 21%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 0 12px 25px 8px rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0);
    margin-left: 50px;
    margin-top: 50px; 
  }
  
  /*AJUSTAR EL CLICK*/
  
  #Nosotros {
    scroll-margin-top: -100px; 
  }
  
  #Membresia {
    scroll-margin-top: 140px; 
  }
  
  #Contactanos {
    scroll-margin-top: 130px; 
  }